<div class="car-services">
    <h3 class="car-services__header">
        <div class="car-services__header__title">
            <span *ngIf="carModel != null">Servisi za {{ carModel }} </span>
            <span *ngIf="carModel == null">Svi upisani servisi</span>
        </div>
        <div class="car-services__header__actions">
            <button mat-raised-button (click)="openCreateOrEditDialog(null)">Dodaj</button>
        </div>
    </h3>

    <table class="car-services__table" mat-table [dataSource]="carServicesData$ | async">
        <ng-container [matColumnDef]="columnsToDisplay[0]">
            <th mat-header-cell *matHeaderCellDef>Naziv servisa</th>
            <td mat-cell *matCellDef="let service">
                {{ service.title }}
            </td>
        </ng-container>

        <ng-container [matColumnDef]="columnsToDisplay[1]">
            <th mat-header-cell *matHeaderCellDef>Ukupna cena (rsd)</th>
            <td mat-cell *matCellDef="let service">
                {{ service.price }}
            </td>
        </ng-container>

        <ng-container [matColumnDef]="columnsToDisplay[2]">
            <th mat-header-cell *matHeaderCellDef>Kilometraža</th>
            <td mat-cell *matCellDef="let service">
                {{ service.kilometrage }}
            </td>
        </ng-container>

        <ng-container [matColumnDef]="columnsToDisplay[3]">
            <th mat-header-cell *matHeaderCellDef>Datum servisa</th>
            <td mat-cell *matCellDef="let service">
                {{ service.dateOfService | date }}
            </td>
        </ng-container>

        <ng-container [matColumnDef]="columnsToDisplay[4]">
            <th mat-header-cell *matHeaderCellDef>Automobil</th>
            <td mat-cell *matCellDef="let service">
                {{ service.car.model }}
            </td>
        </ng-container>

        <ng-container [matColumnDef]="columnsToDisplay[5]">
            <th mat-header-cell *matHeaderCellDef>Komentar</th>
            <td class="car-services__table__comments-cell" mat-cell *matCellDef="let service">
                {{ service.comment }}
            </td>
        </ng-container>

        <ng-container [matColumnDef]="columnsToDisplay[6]">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let carService">
                <button mat-icon-button color="primary" title="Izmeni" (click)="openCreateOrEditDialog(carService)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" title="Izbriši" (click)="deleteCarServiceEntry(carService)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
    </table>
</div>
