<div class="login-form-container">
  <form [formGroup]="loginForm" (ngSubmit)="onFormSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Korisničko ime</mat-label>
      <input matInput autocomplete="off" [formControl]="userNameControl" />
    </mat-form-field>

    <br />
    <mat-form-field appearance="fill">
      <mat-label>Lozinka</mat-label>
      <input matInput type="password" [formControl]="passwordControl" />
    </mat-form-field>

    <div class="form-footer">
      <button mat-raised-button color="warn" [disabled]="loginForm.invalid">Prijava</button>
    </div>
  </form>
</div>
