<h3 class="dashboard__header">
    <div class="dashboard__header__title">
        <span>Moji automobili</span>
    </div>
    <div class="dashboard__header__actions">
        <button mat-raised-button (click)="onCreateOrEditCarClicked(null)">Dodaj</button>
    </div>
</h3>
<div class="dashboard__container">
    <ng-container *ngFor="let car of myCars$ | async">
        <mat-card class="card">
            <mat-card-header>
                <mat-card-title>
                    <span>{{ car.model }}</span>
                    <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu class="dashboard__container__mat-menu" #menu="matMenu" xPosition="before">
                        <button mat-menu-item (click)="onCreateOrEditCarClicked(car)">
                            <mat-icon>edit</mat-icon>
                            Izmeni
                        </button>
                        <button mat-menu-item (click)="onDeleteCarClicked(car)">
                            <mat-icon>delete</mat-icon>
                            Obriši
                        </button>
                    </mat-menu>
                </mat-card-title>
                <mat-card-subtitle>{{ car.manufactureYear }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <mat-list>
                    <mat-list-item>Kilometraža: {{ car.kilometrage }}</mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>Kubikaža: {{ car.engineCubicCapacity }}</mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>Snaga motora (kW): {{ car.enginePowerKW }}</mat-list-item>
                </mat-list>
            </mat-card-content>
            <mat-card-actions>
                <div class="card-footer-actions">
                    <a mat-button color="primary" [routerLink]="['/registracije', car.id, car.model]">Registracije</a>
                    <a mat-button color="accent" [routerLink]="['/servisi', car.id, car.model]">Servisi</a>
                    <a mat-button color="warn" [routerLink]="['/gorivo', car.id, car.model]">Gorivo</a>
                </div>
            </mat-card-actions>
        </mat-card>
    </ng-container>
</div>
